html {
    font-family: "Lucida Sans", sans-serif;
}

.header{
    width: 100%;
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0;

}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33333333%;}
    .col-2 {width: 16.66666667%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33333333%;}
    .col-5 {width: 41.66666667%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33333333%;}
    .col-8 {width: 66.66666667%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33333333%;}
    .col-11 {width: 91.66666667%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33333333%;}
    .col-s-2 {width: 16.66666667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333333%;}
    .col-s-5 {width: 41.66666667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333333%;}
    .col-s-8 {width: 66.66666667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333333%;}
    .col-s-11 {width: 91.66666667%;}
    .col-s-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row li{
    list-style: none;
    font-weight: bold;
    margin-left: -40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
}

.content {
    margin-top: 60px;
}

.sidebar {
    padding: 10px;
}

footer{
    background-color: whitesmoke;
    text-align: center;
    font-size: 12px;
    padding: 15px
}